# ============================================
# GMG Cobranzas — Environment Variables
# ============================================

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://whmdzurofhazfptlndie.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_eGW2jp3ah1G-ljOtA9bCAQ_Gl_4_cUi
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=GMG Cobranzas

# WhatsApp default message
NEXT_PUBLIC_WHATSAPP_DEFAULT_MESSAGE=Buenos días, le saludamos de parte de GMG Servicios. El motivo del mensaje es porque queremos ayudarle a normalizar su crédito.
